
body {
    -ms-overflow-style: none !important; /* for Internet Explorer, Edge */
    scrollbar-width: none !important; /* for Firefox */
    overflow-y: scroll !important; 
  }
  
  body::-webkit-scrollbar {
    display: none !important; /* for Chrome, Safari, and Opera */
  }

img{
    max-width:100%;
    max-height:100%;
    object-fit: cover;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 900;
}
$carousel-control-width: 5%;

h1 {
    font-size: 3em;
    color: black;
    text-transform: uppercase;
  }

  .greetings {
    border-right: .04em solid;
    animation: caret 1s steps(1) infinite;
  }

  .content {
    display:none;
    }
    p {
    margin:0 0 10px;
    }
    button {
    margin-top:10px;
    }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }

  .accordion {
    --bs-accordion-color: #000;
    --bs-accordion-bg: #fff;
    --bs-accordion-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
    --bs-accordion-border-color: var(--bs-border-color);
    --bs-accordion-border-width: 1px;
    --bs-accordion-border-radius: 0.375rem;
    --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: var(--bs-body-color);
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon-width: 1.25rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-focus-border-color: #86b7fe;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25remrgba(13, 110, 253, 0.25);
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: #b4acac;
    --bs-accordion-active-bg: white;
    
  }
  .accordion-item {
    color: var(--bs-accordion-color);
    background-color: var(--bs-accordion-bg);
    border: var(--bs-accordion-border-width) white; 
}


*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
   }
  
  body { 
    font-family: 'Open Sans', sans-serif; 
    margin-top: 50px;
  }
  
  section {
    margin: 0 auto;
  }
  
  .wrapper {
    $border-color: rgba(orange, 1);
    width: 200px;
    height: 400px;
    
    position: relative;
    border-left: 10px solid $border-color;
    padding: 15px;
    color: rgba(black, 0.5);
    font-size: small;
    display: inline-block;
    
    .created-by {
    
      height: 900;
      width: 900px;
      font-size: 10px;
      color: black;
      text-transform: uppercase;
      letter-spacing: 3px;
      
      position: absolute;
      bottom: 0;
      left: 0;
      margin-left: -30px;
      
      transform:(rotate(270deg));
      transform-origin:(0 0);
    }
    
  }