<div style="padding-left: 180px; padding-right: 80px;">
    <div class="row">
        <div class="col-4" style="padding-top: 0px;">
            <div class="flex justify-content-start flex-wrap">
                <div class="flex align-items-center justify-content-center">
                    <div style="height: 400px;width:450px;">
                        <img src="/assets/img/p2.JPG">
                    </div>
                    
                </div>
                <div class="flex align-items-stretch flex-wrap card-container blue-container" style="min-height: 100px">
                    <div class="flex align-items-center justify-content-center" style="padding-right:15px">
                        <div><span style="font-size: 9px; font-weight: 600;">INTERESTS:</span></div>
                    </div>
                    <div class="flex align-items-center justify-content-center" style="padding-right:15px"><img width="30"
                            height="30" src="/assets/svg/curve.svg" matTooltip="Design"></div>
                    <div class="flex align-items-center justify-content-center" style="padding-right:15px"><img width="30"
                            height="30" src="/assets/svg/cpu.svg" matTooltip="Tech"></div>
                    <div class="flex align-items-center justify-content-center" style="padding-right:15px"><img width="30"
                            height="30" src="/assets/svg/ecology.svg" matTooltip="Nature"></div>
                    <div class="flex align-items-center justify-content-center" style="padding-right:15px"><img width="30"
                            height="30" src="/assets/svg/neural.svg" matTooltip="Community"></div>
                    <div class="flex align-items-center justify-content-center" style="padding-right:15px"><img width="30"
                            height="30" src="/assets/svg/machine-learning.svg" matTooltip="Learn"></div>
                    <div class="flex align-items-center justify-content-center" style="padding-right:15px"><img width="30"
                            height="30" src="/assets/svg/inspiration.svg" matTooltip="Teach"></div>
                </div>
                <div class="flex align-items-center justify-content-center">

                </div>
            </div>
        </div>
        <div class="col-6">
            <div style="width: 200px; height: 50px; margin-bottom: 20px;">
                <h1 style="width: 200px; height: 50px;"class="greetings">HELLO</h1>
               </div>
                <div style="padding-bottom: 50px;">
                    <span style="font-size:18px"> I'M <b style="font-size:20px"> GABRIELA </b><b style="font-size:20px">
                            SEGURA </b>
                    </span>
                        <div style="padding-top: 30px; color:#D2C6C7">
                            <span style="font-size:18px"><b style="font-size:60px"> FULLSTACK </b><b style="font-size:50px">
                                DEVELOPER </b>
                            </span>
                        </div>
                </div>

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button  style="padding-left: 0px;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <span style="font-size: 20px; font-weight: 500;">GET TO KNOW ME</span>
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div style="font-family: 'Nunito Sans', sans-serif;text-align: justify;">
                                <div>
                                    <p>I'm a Software Engineer who loves to bring humanity to this technical world. Not only do I
                                        love to solve problems, design and experiment with the world of technology,
                                        but I am also someone who builds unity and brings an essential human aspect to the
                                        table.<br>
                                    </p>
                                </div>
                                <div>
                                    <p> This human aspect comes naturally to me and is just as essential as being able to teach
                                        yourself about a new technology.
                                        I want to be a team member that creates synergy in order to create healthier and more
                                        pleasant work environments; where everyone can create an exchange of knowledge and generate
                                        parallel growth and thus create solutions that reflect that synergistic interaction to the
                                        end user.<br>
                                    </p>
                                </div>
                                <div>
                                    <p>I aim to create solutions by understanding and guiding the client in such a perceptive way
                                        that it results in a product that is a true reflection of their need expressed through
                                        technologies, analysis, passion and creativity.</p>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                         
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                        
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
    </div>

    <div class="row" style=" border-bottom: 1px solid #f2f2f2; margin-bottom: 50px;">
    </div>
    <div class="row">
        <div class="col 6">
            <div style="height:350px;width:450px;">
                <h4 style="padding-bottom: 20px;">SOME WORKED PROJECTS</h4>
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="false">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" class="active"
                            aria-current="true" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"
                            aria-label="Slide 5"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5"
                            aria-label="Slide 6"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6"
                            aria-label="Slide 7"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="7"
                            aria-label="Slide 8"></button>

                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/assets/projects/nala.PNG" class="d-block w-100" alt="100" height="250"
                                width="100">
                            <div class="carousel-caption d-none d-md-block">
                                <button mat-icon-button style="background-color: white; width:100; height:100">
                                    <a href="https://www.nalakalu.com/#/">
                                        <img src="/assets/svg/view.svg" matTooltip="CHECK IT OUT">
                                    </a>
                                </button>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/assets/projects/bac.PNG" class="d-block w-100" alt="100" height="250"
                                width="100">
                            <div class="carousel-caption d-none d-md-block">
                                <button mat-icon-button style="background-color: white; width:100; height:100">
                                    <a href="https://www.sucursalelectronica.com/redir/showLogin.go">
                                        <img src="/assets/svg/view.svg" matTooltip="CHECK IT OUT">
                                    </a>
                                </button>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/assets/projects/cod.jpg" class="d-block w-100" alt="100" height="250"
                                width="100">
                            <div class="carousel-caption d-none d-md-block">
                                <button mat-icon-button style="background-color: white; width:100; height:100">
                                    <a href="https://www.baccredomatic.com/es-cr/personas/banca-digital/codigo-bac">
                                        <img src="/assets/svg/view.svg" matTooltip="CHECK IT OUT">
                                    </a>
                                </button>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/assets/projects/ps.PNG" class="d-block w-100" alt="100" height="250" width="100">
                            <div class="carousel-caption d-none d-md-block">
                                <button mat-icon-button style="background-color: white; width:100; height:100">
                                    <a href="https://www.programasemilla.com/">
                                        <img src="/assets/svg/view.svg" matTooltip="CHECK IT OUT">
                                    </a>
                                </button>
                            </div>

                        </div>
                        <div class="carousel-item">
                            <img src="/assets/projects/fn.PNG" class="d-block w-100" alt="100" height="250" width="100">
                            <div class="carousel-caption d-none d-md-block">
                                <button mat-icon-button style="background-color: white; width:100; height:100">
                                    <a href="https://foodnotes.life/">
                                        <img src="/assets/svg/view.svg" matTooltip="CHECK IT OUT">
                                    </a>
                                </button>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/assets/projects/orrd.PNG" class="d-block w-100" alt="100" height="250"
                                width="100">
                            <div class="carousel-caption d-none d-md-block">
                                <button mat-icon-button style="background-color: white; width:100; height:100">
                                    <a href="https://www.realestatecr.net/#/">
                                        <img src="/assets/svg/view.svg" matTooltip="CHECK IT OUT">
                                    </a>
                                </button>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/assets/projects/rrd.PNG" class="d-block w-100" alt="100" height="250"
                                width="100">
                            <div class="carousel-caption d-none d-md-block">
                                <button mat-icon-button style="background-color: white; width:100; height:100">
                                    <a href="https://ism.rrd.com/retailism/login.do">
                                        <img src="/assets/svg/view.svg" matTooltip="CHECK IT OUT">
                                    </a>
                                </button>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/assets/projects/td.PNG" class="d-block w-100" alt="100" height="250" width="100">
                            <div class="carousel-caption d-none d-md-block">
                                <button mat-icon-button style="background-color: white; width:100; height:100">
                                    <a href="https://www.tdainstitutional.com/insights/advisor-stories.html">
                                        <img src="/assets/svg/view.svg" matTooltip="CHECK IT OUT">
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col 6">
            <div class="flex justify-content-start flex-wrap">
                <div class="flex align-items-center justify-content-center">
                    <div>
                        <h4>TECH STACK</h4>
                    </div>
                </div>
                <div class="flex align-items-center justify-content-center">
                    <div style="padding-bottom: 20px;padding-left: 8px;">
                        <a href="/assets/Gabriela Segura -CV.pdf"><img src="/assets/svg/pdf.svg" width="30" height="30" matTooltip="GET MY CV"></a>
                    </div>
                </div>
            </div>

            <!-- tech tree stack -->
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                    <!-- use a disabled button to provide padding for tree leaf -->
                    <button mat-icon-button disabled></button>
                    {{node.name}}
                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                    {{node.name}}
                </mat-tree-node>
            </mat-tree>
            <!-- end of tree stack -->
        </div>
    </div>
    
    <div class="row">
        <div class="col-7" style=" height: 16px;"></div>
        <div class="col-5" style=" border-top: 1px solid #f2f2f2; margin-bottom: 50px;height: 16px;">
            <div class="flex justify-content-end flex-wrap card-container green-container">
                <div class="flex align-items-center justify-content-center">
                    <div>
                        <P style="font-size: 14px;margin-right:10px; font-weight: 500;margin-bottom: 0px;padding-top: 19px;">LET'S CONNECT!</P>
                    </div>
                </div>
                <div>
                    <button mat-icon-button style="background-color: white; width:100; height:100">
                        <a href="https://www.linkedin.com/in/paula-segura-araya">
                            <img src="/assets/svg/linkedin.svg" height="30" width="30">
                        </a>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>